* {
          box-sizing: border-box;
        }

        #Input {
          background-image: url('/css/searchicon.png');
          background-position: 10px 10px;
          background-repeat: no-repeat;
          width: 100%;
          font-size: 16px;
          padding: 12px 20px 12px 40px;
          border: 1px solid #ddd;
          margin-bottom: 12px;
        }

        #Prod {
          border-collapse: collapse;
          width: 100%;
          border: 1px solid #ddd;
          font-size: 18px;
        }

        #Prod th, #Prod td {
          text-align: center;
          padding: 12px;
        }

        #Prod tr {
          border-bottom: 1px solid #ddd;
        }

        #Prod tr.header, #Prod tr:hover {
          background-color: #f1f1f1;
        }
         #Input {
            border-bottom: 1px solid #ddd;
            border-width: 2s0px;
            width: 50%;
          }
          #address {
            display: none;
            border-bottom: 1px solid #ddd;
            border-width: 2s0px;
            width: 50%;
          }
          #mop {
            display: none;
            border-bottom: 1px solid #ddd;
            border-width: 2s0px;
            width: 50%;
          }
          a {
            display: none;
          }